torch~=2.0.1
transformers==4.26.1
sentencepiece==0.1.97
onnxruntime==1.14.0
numpy~=1.25.2
tqdm
filelock~=3.12.3
git+https://gitee.com/ascend/tools.git#egg=aclruntime&subdirectory=ais-bench_workload/tool/ais_bench/backend
git+https://gitee.com/ascend/tools.git#egg=ais_bench&subdirectory=ais-bench_workload/tool/ais_bench

torchaudio~=2.0.2
torchvision~=0.15.2
opencv-python~=4.8.0.76
acl==0.2
requests~=2.31.0
huaweicloudsdkcore~=3.1.58
huaweicloudsdksis~=3.1.58